body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Navigation Bar */
  
  #navbar {
    background-color:  #7600bc;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    height: 5mm;
   }
  
  .topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    /* Add the styles here */
  }
  
  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
  .profile_name {
    float: left;
    padding-left: 2cm;
    color: azure;
    font-size: larger;
    /* Add the styles here */
  }
  
  .profile_name .contact_info {
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;
  }
  
 
  @media (max-width: 1500px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .profile_image {
      width: 50%;
      height: fit-content;
      vertical-align: middle;
      margin: 5px;
    }
  
    #about-me h1 {
      font-size: 40px;
      margin-top: 50px;
    }
  
    #about-me p {
      font-size: 1.5em;
      width: 50%;
    }
  }
  
   
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Projects */
  
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects-container hr {
    border: 1px solid lightgray;
    width: 75%;
    margin-left: 5cm;
  }
  
  .project-title {
    margin: 0 15px 15px 30px;
    padding-bottom: 5px;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
  }
  
  .project-card li {
    font-size: 20px;
    margin-left: 30px;
  }

  #profile-link a {
    font-size: larger;
  }

